.button {
  display: inline-block;
  padding: $s-size;
  font-weight: 300;
  font-size: 1.8rem;
  background: $blue;
  border: none;
  color: white;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
}

.button-secondary {
  background: #888;
}
