// Colors
$off-black: #20222b;
$off-white: #a5a5fd7;
$dark-blue: #364051;
$dark-gray: #333;
$purple: #8357c5;
$blue: #1c88bf;
$light-blue: #464b5e;
$light-gray: #f7f7f7;
$gray: #666;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
